MONGODB_URI=mongodb://localhost:27017/skillchain
JWT_SECRET=change_me
JWT_EXPIRE_MINUTES=1440
PINATA_API_KEY=
PINATA_SECRET_KEY=
PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs/
POLYGON_RPC_URL=https://rpc-mumbai.maticvigil.com
PRIVATE_KEY=
CONTRACT_ADDRESS=
FRONTEND_URL=http://localhost:5173
